<button class="accordion">Dogs</button>
<%= render "pets/pet-list", pets: @dogs%>

<button class="accordion">Cats</button>
<%= render "pets/pet-list", pets: @cats%>

<button class="accordion">Snakes</button>
<%= render "pets/pet-list", pets: @snakes%>

<button class="accordion">Bugs</button>
<%= render "pets/pet-list", pets: @bugs%>
