<article>
    <header>
        <h2><%=@pet.name%></h2>
    </header>
    <figure>
        <img src="<%=@pet.image%>" alt="<%=@pet.name%>"/>
    </figure>
    <p>
        <%=pet.details%>
    </p>
</article>